$variant: 'dark';
$laptop: 'true';
$topbar: 'light';
$color: 'pueril';

@import "../sass/40.0/colors";
@import "../sass/40.0/drawing";
@import "../sass/40.0/common";
@import "../sass/40.0/widgets-46";
