/* Date/Time Menu */

// overall menu
#calendarArea {
  padding: 0 $base_padding;
}

// Calendar menu side column
.datemenu-calendar-column {
  spacing: $base_spacing;
  border: none;

  &:ltr { padding-left: $base_padding; }
  &:rtl { padding-right: $base_padding; }

  .datemenu-displays-box {
    spacing: $base_spacing;
  }
}

.events-section-title {
  @include notification_bubble($flat: true);
  color: $alt_fg_color;
  font-weight: bold;
  padding: .4em;
}

/* today button (the date) */
.datemenu-today-button {
  @include notification_bubble($flat: true);
  padding: $base_padding * 1.5;
  color: $alt_fg_color;

  // weekday label
  .day-label {
    @include fontsize($base_font_size+1);
    font-weight: bold;
  }

  // date label
  .date-label {
    @include fontsize($base_font_size+7);
    font-weight: normal;
  }
}

/* Calendar */
.calendar {
  @include notification_bubble;
  padding: $base_padding !important;
  margin: 0 $base_margin * 2 !important;
  box-shadow: none;

  // month
  .calendar-month-label {
    color: lighten($fg_color,5%);
    font-weight: bold;
    padding: 8px 0;
  }

  // prev/next month icons
  .calendar-change-month-back StIcon,
  .calendar-change-month-forward StIcon {
    icon-size: $base_icon_size;
  }

  .calendar-change-month-back,
  .calendar-change-month-forward {
    padding: 0;
  }

  .pager-button {
    background-color: transparent;
    height: 32px;
    width: 32px;
    margin: 2px;
    border-radius: $circular_radius;
    border: none;
    &:hover, &:focus { @include button(flat-hover); }
    &:active { @include button(flat-active); }
  }

  $calendar_day_size: 32px;

  .calendar-day-base {
    @include fontsize($base_font_size - 2);
    text-align: center;
    width: $calendar_day_size !important;
    height: $calendar_day_size !important;
    padding: 0;
    margin: 3px;
    border-radius: $circular_radius;
    border: none; //avoid jumparound due to today
    font-feature-settings: "tnum";
    color: $alt_fg_color;

    &:hover, &:focus {
      background-color: rgba($fg_color, 0.1);
      box-shadow: none;
      color: $fg_color;
    }

    &:active, &:selected {
      color: $fg_color;
      background-color: rgba($fg_color, 0.15);
    }

    // day of week heading
    &.calendar-day-heading {
      color: $alt_fg_color;
      margin-top: 1em;
      @include fontsize($base_font_size - 2);
    }
  }

  .calendar-day { //border collapse hack - see calendar.js
    border-width: 0;
  }

  .calendar-day-top {
    border-top-width: 1px;
  }

  .calendar-day-left {
    border-left-width: 1px;
  }

  .calendar-nonwork-day {
    color: $insensitive_fg_color;
  }

  // Today
  .calendar-today {
    font-weight: bold;
    border: none;
    background-color: $selected_bg_color;
    color: $selected_fg_color;

    &:hover, &:focus {
      background-color:lighten($selected_bg_color, 3%);
      color: $selected_fg_color;
    }

    &:active, &:selected {
      background-color: $selected_bg_color;
      color: $selected_fg_color;

      &:hover,&:focus {
        background-color:lighten($selected_bg_color, 3%);
        color: $selected_fg_color;
      }
    }
  }

  .calendar-day-with-events {
    background-image: url("resource:///org/gnome/shell/theme/calendar-today.svg");
    &.calendar-work-day {
       color: $fg_color;
       font-weight: bold;
    }
  }

  .calendar-other-month-day {
    color: transparentize($fg_color, 0.5);
  }

  .calendar-week-number {
    @include fontsize($base_font_size - 4);
    font-weight: bold;
    height: 12px !important;
    width: 12px !important;
    padding: 8px;
    margin: 5px 3px;
    border-radius: $base_border_radius;
    background-color: rgba($fg_color, 0.05);
    color: $alt_fg_color;
  }
}

/* Events */
.events-button {
  @include notification_bubble;
  padding: $base_padding * 2;
  box-shadow: none;

  .events-box {
    spacing: $base_spacing;
  }

  .events-list {
    spacing: 2 * $base_spacing;
  }

  .events-title {
    color: $alt_fg_color;
    font-weight: bold;
    margin-bottom: $base_margin;
  }

  .event-time {
    color: darken($fg_color, 20%);
    font-feature-settings: "tnum";
    @include fontsize($base_font_size - 1);
  }
}

/* World clocks */
.world-clocks-button {
  @include notification_bubble;
  padding: $base_padding * 2;
  box-shadow: none;

  .world-clocks-grid {
    spacing-rows: $base_spacing;
    spacing-columns: $base_spacing * 2;
  }

  // title
  .world-clocks-header {
    color: $alt_fg_color;
    font-weight: bold;
  }

  // city label
  .world-clocks-city {
    color: $fg_color;
    @include fontsize($base_font_size);
    font-weight: normal;
  }

  // timezone time
  .world-clocks-time {
    font-weight: bold;
    color: $fg_color;
    font-feature-settings: "tnum";
    @include fontsize($base_font_size);

    &:ltr { text-align: right; }
    &:rtl { text-align: left; }
  }

  // timezone offset label
  .world-clocks-timezone {
    color: darken($fg_color,20%);
    font-feature-settings: "tnum";
    @include fontsize($base_font_size - 1);
  }
}

/* Weather */
.weather-button {
  @include notification_bubble;
  padding: $base_padding * 2;
  box-shadow: none;

  .weather-box {
    spacing: $base_spacing + $base_margin;
  }

  .weather-header-box {
    spacing: $base_spacing;
  }

  .weather-header {
    color: $alt_fg_color;
    font-weight: bold;

    &.location {
      font-weight: normal;
      @include fontsize($base_font_size - 1);
    }
  }

  .weather-grid {
    spacing-rows: $base_spacing;
    spacing-columns: $base_spacing;
  }

  .weather-forecast-time {
    color: darken($fg_color,30%);
    font-feature-settings: "tnum";
    @include fontsize($base_font_size - 2);
    font-weight: normal;
    padding-top: 0.2em;
    padding-bottom: 0.4em;
  }

  .weather-forecast-icon {
    icon-size: $base_icon_size * 2;
  }

  .weather-forecast-temp {
    font-weight: bold;
  }
}
