#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Terminal=false
Name=update matcha online
Name[zh_CN]=在线升级Matcha
Icon=preferences-desktop-theme
Exec=bash -c 'notify-send "Matcha Theme" "Getting the latest version of the Matcha theme..." -i system-software-update; cd /tmp/; rm -Rf /tmp/matcha.zip 2>/dev/null; rm -Rf /tmp/matcha-master/ 2>/dev/null; wget https://github.com/vinceliuice/matcha/archive/master.zip -O matcha.zip; unzip matcha.zip; cd matcha-master; ./Install; notify-send "All done!" "Enjoy the latest version of Matcha!" -i face-smile'

