$variant: 'light';
$color: 'aliz';
$trans: 'true';
$header: 'light';

@import 'sass/colors';
@import 'sass/drawing';
@import 'sass/common';
@import 'sass/apps';
@import 'sass/granite';
@import 'sass/transparent_widgets';
@import 'sass/colors-public';
