$variant: 'dark';
$darker: 'false';
$transparency: 'true';

@import 'sass/colors';
@import 'sass/drawing';
@import 'sass/common';
@import 'sass/applications';
@import 'sass/unity';
@import 'sass/granite';
@import 'sass/lightdm';
@import 'sass/transparent_widgets';
@import 'sass/colors-public';
