$variant: 'dark';
$color: 'sea';
$trans: 'true';
$header: 'dark';

@import 'sass/colors';
@import 'sass/drawing';
@import 'sass/common';
@import 'sass/apps';
@import 'sass/granite';
@import 'sass/transparent_widgets';
@import 'sass/colors-public';
