$variant: 'light';
$color: 'pueril';
$trans: 'true';
$header: 'light';

@import '../sass/colors';
@import '../sass/drawing';
@import '../sass/common-4.0';
// @import '../sass/apps';
// @import '../sass/transparent-widgets';
@import '../sass/colors-public';
